<h1>Edit user</h1><br />

<div>
  <!--<%= gravatar_for @user %><br />
  <a href="http://gravatar.com/emails">change</a>-->
  <%= link_to gravatar_for(@user, :size => 70),
              "http://gravatar.com/emails",
              :target => "_blank" %>
</div><br />

<%=form_for(@user) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
